{%extends 'base.html'%}
{% load static %}

{%block content%}
{%include 'navbar.html'%}
<div class="lab"style="height:500px;">

</div>
<div class='container'>
  <div class='row labcol1'>
    <div class="col-md-5 labcol">
        <div class="card text-center">
            <div class="card-header heading">Basic Lab test</div>
            <div class="card-body">
              <h5 class="card-title">BMP</h5>
              <i class="fas fa-vial fa-6x"></i>
              <p class="card-text">A basic metabolic panel (BMP) is a helpful and common test that measures several important aspects of your blood. 
                <br>Healthcare providers often use it as a go-to blood test to assess your general physical health, and it can also help diagnose, screen for and monitor certain health conditions.</p>
                <br>
                <br>
                <br>
               
              <a href="{%url 'api:patientlabtest'%}" class="btn btn-auto">Request Test</a>
            </div>
            <div class="card-footer text-muted"><strong>Ksh.2000</strong></div>
          </div>

    </div>
    <div class="col-md-1">
        

    </div>
    <div class="col-md-5 ">
        <div class="card text-center">
            <div class="card-header heading">Comprehensive Test</div>
            <div class="card-body">
              <h5 class="card-title">CMP</h5>
              <i class="fas fa-vials fa-6x"></i>

              <p class="card-text">This test combines the Basic Metabolic Panel with six more tests for a more comprehensive evaluation of metabolic functions, with a focus on organ systems.A comprehensive metabolic panel (CMP) is a test that measures 14 different substances in your blood. It provides important information about your body's chemical balance and metabolism. Metabolism is the process of how the body uses food and energy. </p>
              <a href="{%url 'api:patientlabtest'%}" class="btn btn-auto">Request Test</a>
            </div>
            <div class="card-footer text-muted">Ksh.4000</div>
          </div>

    </div>
    <div class="container d-md-flex py-4">
  
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Pata Daktari</span></strong>. All Rights Reserved
        </div>
        
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" ><i class="fab fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" class="google-plus"><i class="fab fa-skype"></i></a>
        <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    </footer> 

  </div>
  
</div>
<br>
<br>
<br>
<br>
<br>
<br>

{%endblock%}